<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Notas dos Alunos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cadastrar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="alunos/create"> Aluno </a></li>
            <li><a class="dropdown-item" routerLink="materias/create" > Matéria </a></li>
            <li>
              <a class="dropdown-item" href="#"> Atividade de Matéria </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Listagem
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="alunos/list"> Aluno </a></li>
            <li><a class="dropdown-item" routerLink="materias/list"> Matéria </a></li>
            <li>
              <a class="dropdown-item" href="#"> Atividade de Matéria </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <router-outlet></router-outlet>
</div>
