<div class="card container">
  <div class="card-header text-center">Cadastrar aluno</div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nota</label>
        <input
          type="number"
          (ngModel)="(gradeStudent.grade)"
          name="semester"
          class="form-control"
          [formControl]="grade"
        />
      </div>
      <button (click)="update()" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</div>
