<h1 class="text-center">Alunos</h1>

<table class="table my-4" id="table_aluno">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Aluno</th>
      <th scope="col">Semestre</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let element of ELEMENT_DATA">
      <td>{{ element.ID }}</td>
      <td>{{ element.name }}</td>
      <td>{{ element.semester }}</td>
      <td>
        <button (click)="delete(element.ID)">Remover</button>
        <button routerLink="update/{{element.ID}}">Modificar</button>
        <button routerLink="atribuirMateria/{{element.ID}}">Atribuir Materia</button>
        <button routerLink="listagemNotas/{{element.ID}}" > Visualizar atividades </button>
      </td>
    </tr>
  </tbody>
</table>

<script>
  $(document).ready(function () {
    $("#table_aluno").DataTable();
  });
</script>
